{% extends 'home.html' %}
{% block content %}

<div class="container" style='margin-top:30px;'>
  <div class="card">
    <div class="card-view">
      <div class="category">
      {% if article.category == '1' %}추천{% elif article.category == '2'%}후기{% endif %}
      </div>
      <div class="heading">
        <h3>Title :  {{ article.title }}</h3>
      </div>
      <div class="info">
        <dl>
          작성자 :  {{ article.user.name }}  
        </dl>
      </div>
      <div class="body">{{ article.content }}</div>
    </div>
  </div>
</div>
<div class="container text-right">
  <button href=''  class="btn btn-default" id="list" onclick='location="/article/list/"'>목록</button>
  <a href='' class="btn btn-default" id="update" data-article-id="{{ article.id }}">수정</a>
  <a href='/article/delete/{{ article.id }}/' class="btn btn-default" id="delete" style="background-color: red; color: white;">
    삭제
  </a>
</div>
<br>


<script>
  const updateBtn = document.getElementById('update')
updateBtn.addEventListener('click', (e) => {
  e.preventDefault()
  const articleId = updateBtn.dataset.articleId
  location.href = `/article/update/${articleId}/`
})

const deleteBtn = document.getElementById('delete')
  deleteBtn.addEventListener('click', (e) => {
    e.preventDefault()
    if (confirm('정말 삭제하시겠습니까?')) {
      location.href = deleteBtn.href
    }
  })
</script>

<style>
  .card-view{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .card-view .category {
    background-color: beige;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    margin-left: 520px;
  }

  .card-view .heading {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .card-view .heading h3 {
    margin-top: 10px;
  }

  .card-view .info {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    margin: auto;
    width: 1000px;
    padding-top: 15px;
  }

  .card-view .info dl {
    display: inline-block;
    margin-left: 5px;
    font-size: small;
  }

  .body {
    margin-top: 30px;
    padding-bottom: 30px;
  }

</style>

{% endblock %}