{% extends 'home.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">
    <form method="post" action="/signin/">
      {% csrf_token %}
      <div class="form-group">
        <label for="email"></label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Emall">
      </div>
      <div class="form-group">
        <label for="pwd"></label>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
      </div>
      <button style="background-color:aqua ;" id="signin">Sign in</button>
      <button type='button' style="background-color: orange;"  onclick='location="/signup/"'>Sign up</button>
    </form>
  </div>
</div>


<style>

  button {

    font-weight: bold;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;

  }

</style>


{% endblock %}

