{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <form method="post" action="/article/write/" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label for="Select" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
          <select id="Select" class="form-control" name="category">
            <option value="0">카테고리선택</option>
            $("select option[value*='카테고리선택']").prop('disabled',true);
            <option value="1">추천</option>
            <option value="2">후기</option>
          </select>
        </div>
      </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input class="form-control" name="title" id="focusedInput" type="text" placeholder="제목을 입력해주세요.">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="content" rows="10" style="resize:none;" id="focusedInput" type="text" placeholder="내용을 입력해주세요."></textarea>
      </div>
    </div>
    <button type='submit' id='complete' onclick='submitForm()'>Submit</button>
    </form>
  </div>
</div>
<script>
  function submitForm() {
    if ($('#Select').val() === '0') {
      alert('카테고리를 선택해주세요.');
      event.preventDefault();
      return;
    }
    location.href = "/write/success/";
  }
</script>


<style>
  
  button {  
    font-weight: bold;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    float: right;
    background-color: gray;
  }

</style>

{% endblock %}